@{
	ViewBag.Title = "패스 전자서명 상태확인";
}

<div id="content">
	<p class="heading1">Response</p>
	<br />
	<fieldset class="fieldset1">
		<legend>@ViewData["Title"]</legend>
		<ul>
			<li>ClientCode (이용기관 코드) : @Model.clientCode</li>
			<li>ReceiptID (접수 아이디) : @Model.receiptID</li>
			<li>State (상태코드) : @Model.state</li>
			<li>RequestDT (서명요청일시) : @Model.requestDT</li>
			<li>CompleteDT (서명완료일시) : @Model.completeDT</li>
			<li>ExpireDT (서명만료일시) : @Model.expireDT</li>
			<li>RejectDT (서명거절일시) : @Model.rejectDT</li>
		</ul>
	</fieldset>
</div>