@{
	ViewBag.Title = "네이버 전자서명(단건) 상태확인";
}

<div id="content">
	<p class="heading1">Response</p>
	<br />
	<fieldset class="fieldset1">
		<legend>@ViewData["Title"]</legend>
		<ul>
			<li>ReceiptID (접수 아이디) : @Model.receiptID</li>
			<li>ClientCode (이용기관 코드) : @Model.clientCode</li>
			<li>State (상태코드) : @Model.state</li>
			<li>ExpireDT (서명만료일시) : @Model.expireDT</li>
		</ul>
	</fieldset>
</div>