@{
	ViewBag.Title = "전자서명 서명상태 확인(단건)";
}

<div id="content">
	<p class="heading1">Response</p>
	<br />
	<fieldset class="fieldset1">
		<legend>@ViewData["Title"]</legend>
		<ul>
			<li>ReceiptID (접수 아이디) : @Model.receiptID</li>
			<li>ClientCode (이용기관 코드) : @Model.clientCode</li>
			<li>State (상태코드) : @Model.state</li>
			<li>ExpireIn (요청 만료시간) : @Model.expireIn</li>
			<li>CallCenterName (이용기관 명) : @Model.callCenterName</li>
			<li>CallCenterNum (이용기관 연락처) : @Model.callCenterNum</li>
			<li>ReqTitle (인증요청 메시지 제목) : @Model.reqTitle</li>
			<li>AuthCategory (인증분류) : @Model.authCategory</li>
			<li>ReturnURL (복귀 URL) : @Model.returnURL</li>
			<li>TokenType (원문 구분) : @Model.tokenType</li>
			<li>RequestDT (서명요청일시) : @Model.requestDT</li>
			<li>ViewDT (서명조회일시) : @Model.viewDT</li>
			<li>CompleteDT (서명완료일시) : @Model.completeDT</li>
			<li>ExpireDT (서명만료일시) : @Model.expireDT</li>
			<li>VerifyDT (서명검증일시) : @Model.verifyDT</li>
			<li>Scheme (앱스킴) : @Model.scheme</li>
			<li>AppUseYN (앱사용유무) : @Model.appUseYN</li>
		</ul>
	</fieldset>
</div>