@{
	ViewBag.Title = "카카오 자동이체 출금동의 검증";
}

<div id="content">
	<p class="heading1">Response</p>
	<br />
	<fieldset class="fieldset1">
		<legend>@ViewData["Title"]</legend>
		<ul>
			<li>ReceiptID (접수 아이디) : @Model.receiptID</li>
			<li>State (상태) : @Model.state</li>
			<li>SignedData (전자서명 데이터 전문) : @Model.signedData</li>
			<li>Ci (연계정보) : @Model.ci</li>
			<li>ReceiverName (수신자 성명) : @Model.receiverName</li>
			<li>ReceiverYear (수신자 출생년도) : @Model.receiverYear</li>
			<li>ReceiverDay (수신자 출생월일) : @Model.receiverDay</li>
			<li>ReceiverHP (수신자 휴대폰번호) : @Model.receiverHP</li>
			<li>ReceiverHP (수신자 성별) : @Model.receiverGender</li>
		</ul>
	</fieldset>
</div>